body {
    font-family: 'Fredoka', sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    transition: background-image 0.5s ease;
    background-image: url('https://64.media.tumblr.com/13d2c753eed929097cc13bbb1d3e482c/67441800327766fc-96/s1920x1080/fe67f6e7feaaf682aa84cd0280cbb4eed24e9dea.gif');
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}
.header div {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    margin: 0 5px;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
}

.header .settings {
    font-size: 24px;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.controls div {
    width: 35px;
    height: 35px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
}

.popup input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #4cae4c;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.message {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -20px;
}

#userInput {
    width: 150%;
    min-height: 100px;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    resize: none;
    background-color: rgba(128, 128, 128, 0.75);
    color: white;
    text-shadow: 0 0 3px black;
}

#userInput::placeholder {
    color: white;
    opacity: 0.8;
    text-shadow: 0 0 3px black;
}

.todo-list-box {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
}

#player {
    display: none;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.music-list {
    list-style-type: none;
    padding: 0;
}

.music-list button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.music-list button:hover {
    background-color: #0056b3;
}

.input-link {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-list-box {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
}

#todoList {
    list-style-type: none;
    padding: 0;
}

#todoList li {
    padding: 5px;
    cursor: pointer;
    transition: text-decoration 0.3s;
}

#todoList li.completed {
    text-decoration: line-through;
    color: gray;
}

.pomodoro__time-container {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.pomodoro__time {
    font-size: 150px;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.pomodoro__state {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px black;
}

.get-started {
    font-size: 24px;
    color: white;
    opacity: 0.8;
    text-shadow: 1px 1px 5px black;
}

.mode {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.75);
    color: white;
    text-shadow: 0 0 3px black;
}

.mode.active {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}
